<h1><%= @client.name %>'s Profile Page</h1>
<!-- <div id='flash' class='error'>
  <%= flash[:error] %>
</div>
<div id='flash' class='notice'>
  <%= flash[:notice] %>
</div><br> -->

<img width="200" src="<%= @client.extra %>"><br><br>
<button id="edit-profile"><%= link_to "Edit Profile", edit_client_path(@client) %></button>
<button id="show-apps" data-client-id="<%= @client.id %>">Show Appointments</button>
<br><br>
<% if @client == @user %>
<table class="table" id="client-app-table">
  <thead>
    <tr>
      <th>Appointment Date and Time</th>
      <th>Makeup Artist</th>
      <th>Details</th>
    </tr>
  </thead>
  <% @apps.each do |app| %>
  <tbody id="apps-details">
    <tr>
      <td id="app-date"><%= app.date_time.strftime("%A, %b %d, %Y at %l:%M %p") %></td>
      <td id="app-artist"><%= link_to "#{app.artist.name}", artist_path(app.artist) %></td>
      <td id="app-details" data-id="<%= app.id %>" client-id="<%= @client.id %>"><%= link_to "Click Here", client_appointment_path(@client, app) %></td>
    </tr>
  </tbody>
  <% end %>
</table><br>

<button id="new-app"><%= link_to "New Appointment", new_client_appointment_path(@client) %></button>
<br><br>
<br><br>
<% else %>
<button id="artist-apps"><%= link_to "Go Back", appointments_path %></button>
<% end %>
